.how-it-works-text {
  margin-bottom: 70px;
}

.how-it-works-step-row {
  margin-bottom: 40px;
  a {
    font-size: 18px;
    font-style: bold;
    color: $blue;
  }
}

.how-it-works-page-icon {
  margin-bottom: 20px;
}

.how-it-works-page-icon-1 {
  width: 60%;
}

.how-it-works-page-icon-2 {
  width: 45%;
}

.how-it-works-page-icon-3 {
  width: 55%;
}
