/*** fonts ***/

// import Noto Sans from Google Fonts
$font-dir: '../assets/fonts/';
$google-fonts-url: '//fonts.googleapis.com/css';
$noto-sans: "Noto+Sans:400,700";

@import url(#{$google-fonts-url}?family=#{$noto-sans});

@font-face {
  font-family: 'Noto Sans';
  src: url(#{$font-dir}/noto_sans.eot);
  src: url(#{$font-dir}/noto_sans.eot?#iefix) format('embedded-opentype'),
       url(#{$font-dir}/noto_sans.svg#webfont) format('svg');
}

// global font settings
$font-family-sans-serif: "Noto Sans", Arial, sans-serif;
$body-font-family: $font-family-sans-serif;
$header-font-family: $font-family-sans-serif;


/*** colors ***/

$white: #ffffff;
$blue: #2074a8;
$red: #db4040;

$red-hover: #cb3030;

$yellow: #f1b903;
$yellow-hover: #ffc913;

$dark-slate: #486371;
$dark-grey: #5b5b5b;
$medium-grey: #b0b0b0;
$light-grey: #f1f1f1;

$primary-color: $dark-grey;
$secondary-color: $dark-slate;

$body-font-color: $dark-grey;
$header-color: $dark-slate;

$anchor-color-hover: $blue;

/*** orbit ***/
$orbit-control-background-hover: $light-grey;
